{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="register-form">

        {{ form_start(registrationForm) }}
        <h1 class="login-title">Inscription</h1>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            <div class="register-button">
                <button type="submit">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
