{% block header %}
    <header>
        <a href="{{ app.user ? path('home') : path('app_login') }}" class="logo-title">Blad<span style="color: #ffb44b;">e</span>Shop</a>
        {% if app.user %}
        <div class="user-section">
            <a class="user-icon-section" href="{{ path('profile') }}">
                <img class="user-icon" src="{{ asset('build/images/user_icon.png') }}"/>
            </a>
            <br/>
            <a class="user-login-logout" href="{{ path('app_logout') }}"> Se déconnecter</a>
        </div>
        {% elseif app.request.pathinfo == path('app_login') %}
            <a class="user-login-logout user-login" href="{{ path('app_register') }}"> S'inscrire</a>
        {% elseif app.request.pathinfo == path('app_register') %}
            <a class="user-login-logout user-login" href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </header>
{% endblock %}