{% block header %}
    <header>
        <div class="logo-section">
            <img class="logo" src="{{ asset('build/images/blade_logo.png') }}" />
            <a href="{{ app.user ? path('item_index') : path('app_login') }}" class="logo-title">Blad<span style="color: rgb(251,180,78);">e</span>Shop</a>
        </div>
        {% if app.user %}
        <div class="user-section">
            <a class="user-icon-section" href="{{ path('profile') }}">
                <img class="user-icon" src="{{ asset('build/images/user_icon.png') }}"/>
            </a>
            <br/>
            {# <div style="text-align: end; margin-right: 1rem;"> #}
                {# {% if user.firstname and user.lastname %} #}
                {# <p class="user-name">{{ user.firstname }} {{ user.lastname }}</p> #}
                {# {% endif %} #}
                <a class="user-login-logout" href="{{ path('app_logout') }}"> Se déconnecter</a>
            {# </div> #}
        </div>
        {% elseif app.request.pathinfo == path('app_login') %}
            <a class="user-login-logout user-login" href="{{ path('app_register') }}"> S'inscrire</a>
        {% else %}
            <a class="user-login-logout user-login" href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
    </header>
{% endblock %}