{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <h1 class="item-title">Article⸱s en vente⸱s</h1>

    <section class="items-container">
        {% for item in items %}
            <div class="item-container">
                <a class="item-link" href="{{ path('item_show', {'id': item.id}) }}">Voir</a>
                <div class="item-price">{{ item.price }} <span style="font-size: 1rem;">€</span></div>
                <ul class="item-list">
                    <li>{{ item.name }}</li>
                    <li>{{ item.state }}</li>
                    <li>{{ item.localisation }}</li>
                </ul>
            </div>
        {% else %}
            <p colspan="7">Aucun article en vente 😔</td>
        {% endfor %}
    </section>
    {% if app.user %}
        <a href="{{ path('item_new') }}" class="add-item-button">
                <div class="add-item-button-cross" style="width: 2rem; height: 0.5rem;"></div>
                <div class="add-item-button-cross" style="height: 2rem; width: 0.5rem;"></div>
        </a>
    {% endif %}
{% endblock %}
