{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}

    <section class="item-section">   
        <div class="item-image-show"></div>
        <ul class="item-information">
            <li>{{ item.name }}</li>
            <li>{{ item.price }} €</li>
            <li>{{ item.state }}</li>
            <li>{{ item.localisation }}</li>
        </ul>
    </section>
    <div class="item-description-section">
        {# {% if app.user.id == item.id %} #}
        <a class="item-edit-button" href="{{ path('item_edit', {'id': item.id}) }}">Modifier</a>
        {# {% endif %} #}
        <div class="item-description"><p>{{ item.description }}</p></div>
    </div>
    <div class="bubble"></div>

    <a class="item-return-button" href="{{ path('item_index') }}">Retour</a>
{% endblock %}
