{% extends 'base.html.twig' %}

{% block title %}{{ item.name }}{% endblock %}

{% block body %}

    <section class="item-section">   
        <div class="item-image-show"></div>
        <div style="display: flex; flex-direction: column;">
            <p class="item-name">{{ item.name }}</p>
            <div class="item-information-section">
                <ul class="item-information">
                    <li>{{ item.price }} €</li>
                    <li>{{ item.state }}</li>
                    <li>{{ item.localisation }}</li>
                </ul>
                <ul class="item-seller-information">
                    <li>Vendeur : <a class="item-seller-profile" href="{{ path('user_show', {'id': item.seller.id}) }}">{{ item.seller.firstname }} {{ item.seller.lastname }}</a></li>
                    <li>N° de téléphone : <p>{{ item.seller.phonenumber }}</p></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="item-description-section">
        {% if app.user and app.user.id == item.seller.id %}
            <a class="item-edit-button" href="{{ path('item_edit', {'id': item.id}) }}">Modifier</a>
        {% endif %}
        <div class="item-description"><p>{{ item.description }}</p></div>
    </div>
    <div class="bubble bubble-1"></div>
    <div class="bubble bubble-2"></div>

    <a class="item-return-button" href="{{ app.request.headers.get('referer') }}">Retour</a>
{% endblock %}
