{% extends 'base.html.twig' %}

{% block title %}{{ user.firstname }}{% endblock %}

{% block body %}
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ user.phonenumber }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.user.id == user.id %}
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('item_index') }}">Mes articles</a>

    <a href="{{ path('item_new') }}">Ajoutez un article</a>
    {% endif %}
    
{% endblock %}
